{% extends "layouts/layout.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h3>Login</h3></div>
<!--<div class="jumbotron">-->
    <h2>Login</h2>
    {% if errorMsg is defined %}
    <div class="panel-body">
        <div class="alert alert-danger">
            {{ errorMsg }}
        </div>
    </div>    
    {% endif %}
    <div class="panel-body">
    <form method="POST" action="/loginSubmit">
        <div class="form-group {% if errors['email'] is defined %} has-error {% endif %}">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{% if oldInput['email'] is defined %}{{ oldInput['email'] }}{% endif %}">
        </div>
        <div class="form-group {% if errors['password'] is defined %} has-error {% endif %}">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"  value="{% if oldInput['password'] is defined %}{{ oldInput['password'] }}{% endif %}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
</div>
{% endblock %}
